header{
	background-color:#A9A9A9;
}
h1{
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
h2{
	color:#000080;
	text-transform:uppercase;
}
a{
	background-color: #BCBCBC;
	color: #000000;
}
aside{
	display: none;
}
section{
	background-color: #808080;
}