body{
	background: #B3B3B3;
	font-size: 150%;
	margin:4%;
	background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880, #293f50);

}

header{
 	background: #666666;
 	text-align: center;
 	padding: 15px;
}
header, footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 
	background: linear-gradient(to right bottom, #666666 0%, #00b7ea 100%); 
	background: radial-gradient(#666666 0%, #00b7ea 100%); 
	background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
}

 h1{
 	color: #FFFFFF;
 	background: #466368;
  background: radial-gradient(#648880, #293f50);
 }
 nav{
 	font-variant: small-caps;
 	font-size: 150%;
 	font-family: Arial, "Time New Roman",serif;
 }
nav a{
	display:inline-block;
	width: 22%;
	background: #FFFFFF;
}

 h2{ 
 	color: #FFFFFF;
 	background: #00B7EA;
 	opacity: 0.5;
 	background: #466368;
  background: radial-gradient(#648880, #293f50);
 }
 .half{
	width:45%;
	display: inline-block;
	float: left;
	margin-right: 2%;
}

.whole{
	clear:both;
}
details{
	font-style: italic;
}
summary{
	font-style: normal;
}


footer{
	/*background: #666666;*/
	clear: both;
}
img{
	width: 75px;
}

/*p{
  color: red;
  padding:10px 5px;
  background: black;
}
.fancy{
  font-family: cursive;
  background: red;
  color: green;
}
.plain{
  font-family: Times, serif;
  color: black;
}  */

.notice-success {
  background: #67b11c url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/tick_2.png") 20px 50% no-repeat;
  /*background: #67b11c url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/tick_1.svg") 20px 50% no-repeat;*/
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}